<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 page-header">
      <img src="assets/img/burger.jpg" class="img-responsive">
      <h1 class="text-center">Burgers and Stuff</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <h2 class="text-center">To Eat</h2>
        {{#each burgers}} {{#unless devoured}}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-7">
              {{this.id}}. {{this.burger_name}}
            </div>
            <div class="col-md-5 text-right">
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit" class="btn btn-danger">Devour Burger</button>
              </form>
            </div>
          </div>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>
    <ul class="list-group">
      <h2 class="text-center">Eaten</h2>
      <div class="col-md-6">
        {{#each burgers}} {{#if devoured}}
        <li class="list-group-item">
          {{this.id}}. {{this.burger_name}}
        </li>
        {{/if}} {{/each}}
    </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <hr>
      <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
          <label for="burger-name">New Burger Name</label>
          <input type="text" class="form-control" id="burger-name" name="name">
        </div>
        <button class="form-control btn btn-primary" type="submit">Add Burger</button>
      </form>
      <form class="create-update-form" action="/?_method=DELETE" method="POST">
        <button class="form-control btn btn-danger" type="submit">Clear the Table</button>
      </form>
      <br>
    </div>
  </div>
</div>